/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Vollkorn:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html, body, header, div, nav, a, ul, li {
    font-family: 'Vollkorn', serif;
}
/* h1, h2, h3, h4, h5 {
    font-family: 'Satisfy', cursive;
} */

#menu {
    z-index: 50;
}

#main_content {
    border-radius: 10px 10px 0px 0px;
}

.indent {
    text-indent: 2em;
}

/* Links */

.link-contact-container {
    background-color: #335449;
    transition: .2s;
    border-radius: 10px;
    height: fit-content;
}
.link-contact-container:hover {
    background-color: #1c2f28;
}

.link-contact, .link-contact:visited {
    text-decoration: none;
    color: #f0f2f1;
    transition: .2s;
}
.link-contact:hover, .link-contact:active {
    text-decoration: none;
    color: #5e7b71;
}

#contact a > img {
    width: 75px;
}

/* Colors */

.bg-light-grey {
    background-color: #eceef6;
}
.bg-medium-grey {
    background-color: #545454;
}


/* Backgrounds */

.bg-dark-25 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-dark-50 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}
.bg-dark-60 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.60);
}
.bg-dark-75 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}
.bg-dark-50-animated {
    transition-duration: .3s;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}
.bg-dark-50-animated:hover {
    background-color: rgba(0, 0, 0, 0.75);
}


/* Filters */

.blur-5 {
    filter: blur(5px);
}

.blur-10 {
    filter: blur(10px);
}


/* Borders for checking layout */

.border-red {
    border: 1px solid red;
}
.border-blue {
    border: 1px solid blue;
}
.border-green {
    border: 1px solid green;
}


/* Images */

    /* Background image styling */

    .img-title-container {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
    }
    .img-title-container:nth-of-type(1) {
        min-height: 550px;
    }
    .img-title-container:last-of-type {
        min-height: auto;
    }

    /* Square side images */
    
    @media only screen and (max-width: 767px) {
        .img-side {
            max-height: 150px;
        }
    }

    /* Bio photo */

    #bio_photo {
        height: 200px;
        width: auto;
        border-radius: 100%;
    }