/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Vollkorn:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html, body, header, div, nav, a, ul, li {
    font-family: 'Vollkorn', serif;
}
/* h1, h2, h3, h4, h5 {
    font-family: 'Satisfy', cursive;
} */


/* Links */

.link-contact-container {
    background-color: #335449;
    transition: .2s;
    border-radius: 10px;
}
.link-contact-container:hover {
    background-color: #1c2f28;
}

.link-contact, .link-contact:visited {
    text-decoration: none;
    color: #f0f2f1;
    transition: .2s;
}
.link-contact:hover, .link-contact:active {
    text-decoration: none;
    color: #5e7b71;
}


/* Colors */

.bg-light-grey {
    background-color: #eceef6;
}
.bg-medium-grey {
    background-color: #6b6b6b;
}


/* Borders for checking layout */

.border-red {
    border: 1px solid red;
}
.border-blue {
    border: 1px solid blue;
}
.border-green {
    border: 1px solid green;
}


/* Images */

    /* Background image styling */

    .img-title-container {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    /* Square side images */
    
    @media only screen and (max-width: 767px) {
        .img-side {
            max-height: 150px;
        }
    }