/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Vollkorn:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html, body, header, div, nav, a, ul, li {
    font-family: 'Vollkorn', serif;
}
/* h1, h2, h3, h4, h5 {
    font-family: 'Satisfy', cursive;
} */




/* Borders for checking layout */

.border-red {
    border: 1px solid red;
}
.border-blue {
    border: 1px solid blue;
}
.border-green {
    border: 1px solid green;
}